/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
body{ 
	font-family: 'Lato', Helvetica, Arial, sans-serif; /* 16px */
	font-weight: 400;
	font-size: 1em;
	color: #202020;
	line-height: 130%;
	max-width: 100%;
	margin: 0 auto;
	background-color: #585858;
}

.container{
	overflow: hidden;
	background-color: #909090;
	background-repeat: no-repeat;
}

#headerimage{
	/*outline: 1px solid #000;*/
	max-width: 100%;
	background-color: #c0c0c0;
	padding: 2%;
	margin: 0 auto;
	border-bottom: 5px solid #077ca9;
	overflow: hidden;

}

h1{
	/*outline: 1px solid #000;*/
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	line-height: 130%;
	font-size: 1.5em;
	font-style: italic;
	color: #2d2a2b;
	/*border-top: 5px solid #077ca9;*/
	margin: 0 auto;
	margin-top: 1%;
	padding: 1% 2% 1% 4%;
}

h2{
	/*outline: 1px solid #000;*/
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	line-height: 100%;
	font-size: 1em;
	font-style: italic;
	color: #2d2a2b;
	margin-left: 68%;
	margin-top: 0%;
}

h3{
	font-size: 1em;
}

h4{
	margin-bottom: -1%;
	margin-top: 0%;
	
	font-size: 1.25em;
}

h5{
	font-size: 1em;
}

article{
	margin: 4% 4%;
}

#paragraph3{
	font-style: italic;
	font-size: .95em;
}

#paragraph4{
	font-style: italic;
	font-size: .95em;
	margin-top: -1.5%;
}
	
aside{
	/*outline: 1px solid #000;*/
	width: 30%;
	float: right;
	clear: both;
	margin-right: 5%;
	margin-left: 3%;
	margin-top: 3%;
	font-size: .75em;
}


#homewoodsuites{
	/*margin-top: -27%;
	margin-bottom: 3%;*/
	float: left;
	clear: both;
	
}

#meetingtimes{
	border: 2px solid #113265;
	border-radius: 10px;
	float: left;
	clear: both;
	margin: 2% 4%;
	padding: 2%;
	font-size: 1.125em;
	background: #c0c0c0;
	width: 88%;
}

#google_map{
	float: right;
	clear: both;
	margin-top: -50%;
}

li{
	display: inline;
}

#facebook{
	/*outline: 1px solid #fff;*/
	float: right;
	clear: both;
	font-size: .85em;
	margin-right: 8%;
	margin-bottom: -1.5%;
	margin-top: -1.5%;
}

#facebookicon{
	/*outline: 1px solid #fff;*/
	float: right;
	clear: both;
	margin-top: -5%;
	margin-bottom: -3%;
	margin-right: 2%; 
}

a:link{
	text-decoration: none;
}

img{
	border-radius: 10px;
}

footer{
	float: left;
	clear: both;
	margin: 3% 0%;
	background: #113265;
	width: 100%;
	padding-left: 4%;
	color: #909090;
	font-size: 1.125em;
}



/* =============================================================================
   Page Styles
   ========================================================================== */
   
/* =============================================
   HOME
   ============================================*/	
/* =============================================
   PAGE 2
   ============================================*/	
/* =============================================
   PAGE 3
   ============================================*/	

/* =============================================
   PAGE 4
   ============================================*/ 

/* =============================================
   PAGE 5
   ============================================*/
   
/* =============================================
   PAGE 6
   ============================================*/
/*	========================================================================================================
	MEDIA QUERIES
	===================================================================================================== */
	
	
/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {

h1{
	font-size: 1.6em;
	line-height: 130%;
	float: none;
	margin-bottom: -3%;
}


/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

/* =============================================================================
   Site Styles
   ========================================================================== */
#logo{
	max-width: 100%;
	padding: 0%;
	margin: 0 2%; 
}

#header{
	margin: 0 auto;
	padding: 2%;
}

   

/* =============================================
   HOME
   ============================================*/	

#headerimage{
	float: none;
	padding: 0%;
	width: 110%;
}

h1{
	font-size: 1.5em;
	line-height: 130%;
	float: none;
	border-top: none;
	margin-bottom: -1%;
}

/* =============================================
   PAGE 2
   ============================================*/	

/* =============================================
   PAGE 3
   ============================================*/	

/* =============================================
   PAGE 4
   ============================================*/

/* =============================================
   PAGE 5
   ============================================*/
/* =============================================
   PAGE 6
   ============================================*/
   
/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

/* =============================================================================
   Site Styles
   ========================================================================== */

/* =============================================
   HOME
   ============================================*/	
   
#headerimage{
	float: none;
	padding: 0%;
	width: 110%;
}


/* =============================================
   PAGE 2
   ============================================*/	

/* =============================================
   PAGE 3
   ============================================*/	
   
/* =============================================
   PAGE 4
   ============================================*/
/* =============================================
   PAGE 5
   ============================================*/
/* =============================================
   PAGE 6
   ============================================*/



/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/